* {
    box-sizing: border-box;
}

body{
    display: flex;
    margin: 1em;
    justify-content: space-between;
    flex-direction: column;
}

/*mobile media*/
@media screen and (min-width: 365px) and (max-width: 1192px){


}
/*desktop media*/
@media screen and (min-width: 934px) and (max-width: 1210px){
    .hide-on-small{
        display: block;

    }

}
.title{
    display: flex;
    font-weight: bold;
    font-size: xxx-large;
    padding: 0;
    margin: 0;

}

nav{
    display: flex;
    /*justify-content: space-evenly;*/

}

img{
    display: flex;
    float: left ;
}

.nav-links{

    display: flex;
    justify-content: space-evenly;
    list-style: none;
    /*align-content: flex-end;*/


}

a{
   flex-wrap: wrap;
    display: inline-block;
}