* {
    box-sizing: border-box;
    /*display: flex;*/
}
/*mobile media*/
@media screen and (min-width: 365px) and (max-width: 1192px){

}
/*desktop media*/
@media screen and (min-width: 934px) and (max-width: 1210px){
    .hide-on-small{
        display: block;

    }

}
.title{
    display: flex;
    font-weight: bold;
    font-size: xxx-large;
    padding: 0;
    text-align: left;
}

.nav{
    display: flex;
    justify-content: flex-start;
    width: 100%;

}



.nav-links{
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: flex-end;


}